:root{
    --text:yellow;

}

.container{
    background-color: var(--text);
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.box{
    border: 1px solid pink;
    background-color: plum;
    --text:yellow;
    color: var(--text);
}